.end{
  align-items: end;
  justify-content: end;
}
///bgimg
 .card-img, .card-img-bottom, .card-img-top{
  width: 20%;
 }
 .to-center{
  margin-top:auto;
  margin-bottom: auto;

 }
.card{
  justify-content: center;
  text-align: center;
       border: var(--bs-card-border-width) solid white !important;
}
.back-image{
background-image: url(../../assets/images/home-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}
.center{
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}



